@use "home";
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.cdnfonts.com/css/roboto");

html {
  scroll-behavior: smooth;
}

:root {
  --scrollbarBG: #ffffff00;
  --thumbBG: #;
}
*::-webkit-scrollbar {
  width: 5px;
}
* {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
*::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
}
*::selection {
  background: black;
  color: white;
}
