@use "home";
@import url("https://fonts.cdnfonts.com/css/post-no-bills-colombo");
@import url("https://fonts.cdnfonts.com/css/roboto");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: white;
  font-family: "Roboto Medium", sans-serif;
  position: relative;
  font-size: 16px;
}

.page {
  padding-top: 4rem;
  padding-left: 27vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  @media not all and (min-width: 768px) {
    padding: 0px 1rem;
  }
}
.hero {
  padding-top: 2rem;
}
// /* Firefox */
// * {
//   scrollbar-width: thin;
//   scrollbar-color: #8e8e8e #ffffff;
// }

// /* Chrome, Edge and Safari */
// *::-webkit-scrollbar {
//   width: 8px;
//   width: 8px;
// }

// *::-webkit-scrollbar-track {
//   border-radius: 20px;
//   background-color: #ffffff;
// }

// *::-webkit-scrollbar-track:hover {
//   background-color: #ffffff;
// }

// *::-webkit-scrollbar-track:active {
//   background-color: #ffffff;
// }

// *::-webkit-scrollbar-thumb {
//   border-radius: 20px;
//   background-color: #8e8e8e;
// }

// *::-webkit-scrollbar-thumb:hover {
//   background-color: #878787;
// }

// *::-webkit-scrollbar-thumb:active {
//   background-color: #8e8e8e;
// }
