@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.cdnfonts.com/css/tajawal");

:root {
  --primary-color: #5552ff;
  --bg-color-1: #51545b;
  --bg: white;
}
// $mb: "max-width: 480px";
// // $md: "max-width: 768px";
// $md: "max-width: 800px";
// $lg: "max-width: 1024px";
// body {
//   --bg: #1e1e1e;
//   --nav-bg: #161616;
//   --primary: #987ef1;
//   --primary-bold: #7d5bed;
//   --card: #8b6cef;
//   // --primary: #599bff;
//   --text1: #dadada;
//   --text2: #110f15;
//   --text3: #413f44;
//   --border: #ddd;
//   --el1: #bfbdc1;
//   --el2: #d6d6d8;
//   --el3: #e8e7e9;
//   --el4: #f5f5f6;
//   --el1-rev: #110f15;
//   --el2-rev: #292d32;
//   --el3-rev: #413f44;
//   --el4-rev: #88878a;
//   --el5-rev: #cfcfd0;
//   --shadow: rgba(0, 0, 0, 0.17);
// }
// body.dark {
//   --bg: #212529;
//   --text1: #f8f9fa;
//   --text2: #e8e7e9;
//   --text3: #d6d6d8;
//   --el1: #110f15;
//   --el2: #292d32;
//   --el3: #413f44;
//   --el4: #88878a;
//   --el5: #cfcfd0;
//   --el1-rev: #bfbdc1;
//   --el2-rev: #d6d6d8;
//   --el3-rev: #e8e7e9;
//   --el4-rev: #f5f5f6;
//   --shadow: rgba(255, 255, 255, 0.17);
// }
// body {
//   background-color: var(--bg);
//   width: 100%;
//   height: fit-content;
//   color: var(--text1);
//   font-family: "Cairo", sans-serif;
// }

:root.dark {
  color-scheme: dark;
  body {
    background-color: black;
  }
}
:root.light {
  color-scheme: light;
}

$mb: "max-width: 480px";
// $md: "max-width: 768px";
$md: "max-width: 800px";
$lg: "max-width: 1024px";
html,
body {
  padding: 0;
  margin: 0;
  background-color: rgb(255, 255, 255);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  --scrollbarBG: #ffffff00;
  --thumbBG: #b8b8b8;
}
html::-webkit-scrollbar {
  width: 5px;
}
html {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
html::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
html::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
}
html::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
}

::selection {
  background: black;
  color: white;
}

@import "./home";
@import "./auth";
@import "./new";
@import "./post";
